* {
  margin: 0;
  font-family: Epilogue;
}

/* promotion start */

.promotion-heading {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1.92px;
  text-align: center;
}

.promotion-paragrapgh {
  color: #6A6A6A;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

}

.promo-btn {
  display: flex;
  padding: 10px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.promo-Img {
  height: 100%;
  width: 100%;
  align-self: stretch;
}

.promo-container {
  display: flex;
  padding: var(--none, 0px) 120px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  margin-top: 48px;

}

/* promotion end */


/* contact start */

.contact-container {
  display: flex;
  padding: 48px 120px;
  flex-direction: column;
  gap: 32px;
  align-self: stretch;
  margin-top: 48px;
}

.contact-heading {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1.92px;
}

.contact-paragraph {
  color: #6A6A6A;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.contact-forms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.contact-labels {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
}

.cntInp {
  width: 100%;
}

.contact-Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

/* contact end */


/* Footer starts */
.footer-container {
  display: flex;
  padding: 32px 120px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  background-color: #030303;
}

.social-media svg {
  padding-right: 20px;
  cursor: pointer;
}

.nav-footer {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
}

.powered-By {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  margin-top: 24px;

}

.bottom-inner-container {
  width: 100%;
  text-align: left;
  margin-top: 36px;
}

.footer-logo {
  width: 194px;
  margin-left: -6px;
}

.powered-by-text {
  display: flex;
  align-items: center;
  justify-content: end;
}

.footer-arrow {
  display: flex;
  justify-content: end;
  margin-top: 24px;
}

.footer-arrow svg {
  cursor: pointer;
}

/* Footer ends */


/* Service Container Start */


.service-container {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  height: 80%;
}

.svg-container {
  height: 10%; /* This will make the svg-container take the full height of its parent */
}

.service-container h3 {
  color: #121212;
  text-align: center;
  font-family: Epilogue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.service-container {
  color: #6A6A6A;
  text-align: center;
  font-family: Epilogue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

/* Service Container Ends */


/* media query @last */
@media (max-width: 768px) {
  .promo-container {
    padding: var(--none, 0px) 20px;
  }

  .contact-container,
  .footer-container {
    padding: 32px 24px;
  }

  .contact-heading,
  .promotion-heading {
    font-size: 34px;
    text-align: center;
  }

  .powered-by-text {
    justify-content: start;
  }
  .service-container {
    height: 85%;
    padding-bottom: 12px;
  }

  .service-container h3{
    font-size: 20px;
  }
}